@import "tailwindcss";

body {
  background-color: #0a0a0a;
  color: #f1f1f1;
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #60a5fa;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  text-decoration: underline;
  color: #93c5fd;
}